<br />
<footer class="page-footer">
  <!-- Copyright -->
  <div class="container-fluid">
    <div class="text-center py-3">
      <i style="float: left" class="emoji" id="darkmodeselector" onclick="darkSwitcher()"></i>
      <%= client.user.username%> – by NightYoshi370 and Samplasion<br>
    </div>
  </div>

  <!-- Copyright -->
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//instant.page/1.3.1" type="module" integrity="sha384-rtpNW06xJckBndFDJIJW076PpDuKl3bzoJJCriXfUpocS6YNHpjlqBPrfQqmTR2D"></script>
<% include ./scripts %>
</body>